@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 66px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    vertical-align: middle;
    font-family: "Outfit", sans-serif;
}
header{
    padding: 7px;
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 3px gray;
}

header a {
    text-decoration: none;
    color: inherit;
}


h1{
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color:darkolivegreen;
}

h2, h3{
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: normal;
    color:darkolivegreen;
    display: inline-block;
}
#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
}
#menu>li {
    margin-bottom: 1em;
    color:darkolivegreen;
}

#menu a:hover {
    border-bottom: 1px solid #43210a;
}
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 3px #ffffff;
    display: none;
    top: 100%
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 160%;
}

main{    
    margin-top: 66px;
    background-color: blanchedalmond; /* need this?? */
    flex: 1 0 auto;

}

#gameInfo{
    width: 100%;
    position: relative;
    height: 700px;
    background-color: azure;
}

#gameSection-Header, #scoresSection-Header{
    width: 100%;
    background-color: lightyellow;
    padding-top: 5px;
}

#game-Hint{
    float:right;
    padding-right: 5%;
}

.container{
    display: inline;
    width: 100vw;
    height: 100vh;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
.game-container{
    min-width: 300px;
    max-width: 600px;
    width: 100vw;
    aspect-ratio: 1/1;
    vertical-align: middle;
    text-align: center;
    background-color: lightgray;
    position: relative;
}

.gameBoard-col{
    box-sizing: border-box;
    border:  1px solid gray;
    position: absolute;
    display: flex;
    align-items: center;
}

.gameBoard-col:hover{
    background-color: greenyellow;
}

.active-col{
    background-color: lightsteelblue;
    box-shadow: 0 2px 6px black, 0 2px 6px black;
}

.matched-col{
    background-color: seagreen;
    box-shadow: 0 2px 6px black, 0 2px 6px black;
}

.selected-col{
    background-color: greenyellow;
    box-shadow: 0 2px 6px black, 0 2px 6px black;
}
.gameBoard-col > p{
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}


.game-controls{
    width: 100%;
    height: 90px;
}

#game-controls-list{
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#game-controls-list li{
    min-width: 15%;
}

#game-controls-list i{
    font-size: 300%;
    padding: 5px;
}

#game-controls-list li:hover{
    font-size: 120%;
    color: blue;
}

#scoresSection{
    display: inline;
    width: 100vw;
    height: 100vh;
}

#scores-container{
    width: 100vw;
    aspect-ratio: 1/1;
    vertical-align: middle;
    text-align: center;
    background-color: lightgray;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: darkolivegreen;
}

@media screen and (min-width:1180px){
    .container{
        display: flex;
        height: 100%;
    }
    .game-container{
        height: 90vh;
        aspect-ratio: 1/1;
        max-height: 600px;
    }
    .game-controls{
        align-self: last baseline;
    }
    #scores-container{
        min-height: 630px;
    }
}

@media screen and (max-height: 430px) and (orientation : landscape){
    header{
        font-size: 60%;
    }
    h2, h3{
        font-size: 75%;
    }
    .container{
        display: flex;
        height: 100%;
    }
    .game-container{
        height: 90vh;
        aspect-ratio: 1/1;
        max-height: 300px;
        max-width: 300px;
    }
    .game-controls{
        align-self: last baseline;
    }
}

@media screen and (min-width: 820px) {
  main{
    margin-top:77px;
  }
    nav {
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        box-shadow: none;
        display: block;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}
